{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
	<div class="container">
	<h1> Livraisons </h1><br/>
	<div class="row">	
		<div class="col-md-6">{% include 'ApdcApdcBundle::forms/default.html.twig' %}</div>
		<div class="col-md-1"></div>
		<div class="col-md-5">{% include 'ApdcApdcBundle::tool/lpr_info.html.twig' %}</div>
	</div>

		<hr>
		{% for store, orders in stores %}
			<table style="width: 100%">
				<tr>
					<th>
						<a href="#{{ store|replace({' ': "_"}) }}" data-toggle="collapse"><h2>{{ store }}</h2></a>
					</th>
				</tr>
				<tr>
					<td>
						<div id="{{ store|replace({' ': "_"}) }}" class="store collapse">
							<table class="table" style="width:100%">
								<tr>
									<th>Creneaux</th>
									<th>Numero Commande</th>
									<th>Montant</th>
									<th>Nom Clients</th>
									<th>Adresse</th>
									<th>Tel</th>
									<th>Code Porte 1</th>
									<th>Code Porte 2</th>
									<th>Batiment</th>
									<th>Etage</th>
									<th>Infos</th>
									<th>Autre Contact</th>
								</tr>
								{% for order_id, order in orders %}
									<tr>
										<td>{{ order.delivery_time}}</td>
										<td><a href="{{path('ordersOne', {id: order_id})}}" target="_blanc">{{ order_id }}</a></td>
										<td>{{ order.total_prix }}</td>
										<td>{{ order.first_name ~" "~ order.last_name }}</td>
										<td><a href="https://www.google.com/maps?q={{ order.address }}" target="_blanc">{{ order.address }}</a></td>
										<td>{{ order.phone }}</td>
										<td>{{ order.codeporte1 }}</td>
										<td>{{ order.codeporte2 }}</td>
										<td>{{ order.batiment }}</td>
										<td>{{ order.etage }}</td>
										<td>{{ order.info }}</td>
										<td>{{ order.contact ~" / "~ order.contact_phone}}</td>
									</tr>
								{% endfor %}
							</table>
						</div>
					</td>
				</tr>
			</table>
		{% endfor %}
	</div>
{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
