{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}
{% block body %}
	<div class="container">
	<h1> Enlevements </h1><br/>
	<div class="row">
		<div class="col-md-6">{% include 'ApdcApdcBundle::forms/default.html.twig' %}</div>
		<div class="col-md-6"></div>
	</div>
		<hr>
		{% for store, commercants in stores %}
			<table style="width: 100%">
				<tr>
					<th>
						<a href="#{{ store|replace({' ': "_"}) }}" data-toggle="collapse"><h2>{{ store }}</h2></a>
					</th>
				</tr>
				<tr>
					<td>
						<div id="{{ store|replace({' ': "_"}) }}" class="store collapse">
							<table class="table">
								<tr>
									<th>Horaires</th>
									<th>Commercant</th>
									<th>Adresse</th>
									<th>Telephone</th>
									<th>N° Commande</th>
									<th>Montant Commande</th>
								</tr>

								{% for com_id, commercant in commercants %}
									<tr>
										<td style="width: 20%">{{ commercant.timetable|raw }}</td>
										<td> {{ commercant.name }}
										{% if commercant.warning_days != ""%}
										</br><span style="color:red;">{{ commercant.warning_days }}</span></td>
										{%endif%}
										<td> {{ commercant.addr }} </td>
										<td> {{ commercant.phone ~" / "~ commercant.mobile }} </td>
										<td>
											<ul>
											{% for order_id, order in commercant.orders %}
												<li>
													{% if date(order.delivery_date)>=(date()|date("Y-m-d")) %}
														{% if order.status|lower == 'complete' or order.status|lower == 'closed' %}
															<a href="{{path('ordersOne', {id: order_id})}}" target="_blanc" style='color:red;'>{{ order_id }}</a>
															<p style="color:red;font-size: 0.85em;">Commande à ne pas récupérer</p>
														{% elseif order.shipping_method == 'flatrate_flatrate' %}
															<a href="{{path('ordersOne', {id: order_id})}}" target="_blanc" style='color:red;'>{{ order_id }}</a>
															<p style="color:red;font-size: 0.85em;">Commande traitée par Star'Dom</p>
														{% else %}
															<a href="{{path('ordersOne', {id: order_id})}}" target="_blanc">{{ order_id }}</a>
															<p style="font-size: 0.85em;">Commande à récupérer</p>
														{% endif %}
													{% else %}
														<a href="{{path('ordersOne', {id: order_id})}}" target="_blanc">{{ order_id }}</a>
													{% endif %}
												</li>
											{% endfor %}
											</ul>
										</td>
										<td>
											{% for order_id, order in commercant.orders %}
												{{ order.total_prix ~ "€" }}<br/>
											{% endfor %}
										</td>
									</tr>
								{% endfor %}
							</table>
						</div>
					</td>
				</tr>
			</table>	
		{% endfor %}
	</div>
{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
