{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
	<div class="container">
		<div class="page-header">
			<h1>Back office Au Pas De Courses</h1>
			<div class="text_accueil">
				<p>Bienvenue sur la plateforme de gestion des commandes et livraisons de Au Pas De Courses</p>
			</div>
		</div>
		<div class="row">		
			<div class="col-md-3">
				{% if is_granted('ROLE_INDI_GESTION') %}
					<h3>DISPATCH APDC</h3>
					<div class="button_accueil">
						<a href="{{ path ('ordersIndex')}}"><button type="button" class="btn btn-default btn-lg btn-block">Toutes les commandes</button></a>
						<a href="{{ path ('merchantsIndex' )}}"><button type="button" class="btn btn-default btn-lg btn-block">Comm. par magasins</button></a>
						<a href="{{ path ('storesIndex')}}"><button type="button" class="btn btn-default btn-lg btn-block">Comm. par quartiers</button></a>
					</div>
				{% endif %} {# end role gestion #}
				{% if is_granted('ROLE_INDI_DISPATCH','ROLE_INDI_GESTION') %}
					<h3>DISPATCH LPR</h3>
					<div class="button_accueil">
						<a href="{{ path ('storesIndex')}}"><button type="button" class="btn btn-default btn-lg btn-block">Comm. par quartiers</button></a>
						<a href="{{ path ('pickingIndex')}}"><button type="button" class="btn btn-default btn-lg btn-block">Liste des enlèvements</button></a>
						<a href="{{ path ('shippingIndex')}}"><button type="button" class="btn btn-default btn-lg btn-block">Liste des livraisons</button></a>
						<!-- <a href=""><button type="button" class="btn btn-primary btn-lg btn-block">Création tournées</button></a> -->
						<a href="{{ path ('mapMerchants')}}"><button type="button" class="btn btn-primary btn-lg btn-block">Localisation Commercants</button></a>
					</div>
				{% endif %} {# end role dispatch #}
			</div>
			<div class="col-md-3">
				{% if is_granted('ROLE_INDI_GESTION') %}
				<h3>TRAITEMENT POST-LIVRAISON</h3>
				<div class="button_accueil">
					<a href="{{ path ('refundIndex')}}"><button type="button" class="btn btn-default btn-lg btn-block">Saisie Ticket</button></a>
					{# <a href="{{ path ('refundPostClosureIndex') }}"><button type="button" class="btn btn-default btn-lg btn-block">Remboursement post-cloture</button></a> #}
				</div>
				<h3>FACTURATION</h3>
				<div class="button_accueil">
					<a href="{{ path ('billingIndex') }}"><button type="button" class="btn btn-default btn-lg btn-block">Voir En-Cours</button></a>
					<a href="{{ path ('billingVerif') }}"><button type="button" class="btn btn-default btn-lg btn-block">Calcul Facturation</button></a>
					<a href="{{ path ('billingDetails') }}"><button type="button" class="btn btn-default btn-lg btn-block">Commandes Facturées</button></a>
					<a href="{{ path ('billingSummary') }}"><button type="button" class="btn btn-default btn-lg btn-block">Factures Commerçant</button></a>
					<!-- <a href="{{ path ('billingPayoutHistory') }}"><button type="button" class=" btn btn-default btn-lg btn-block">Payout</button></a> -->
					{% endif %} {# end role gestion #}
				</div>
			</div>
			<div class="col-md-3">	
				{% if is_granted('ROLE_INDI_COMMUNICATION','ROLE_INDI_GESTION') %}
				 <h3>INFOS CLIENTS</h3>
				<div class="button_accueil">
					<a href="{{ path ('statCustomer') }}"><button type="button" class="btn btn-primary btn-lg btn-block">Stats Clients</button></a>
					<a href="{{ path ('loyaltyCustomer') }}"><button type="button" class="btn btn-primary btn-lg btn-block">Fidelité Clients</button></a>
					<a href="{{ path ('statVoucher') }}"><button type="button" class="btn btn-primary btn-lg btn-block">Stats Coupons</button></a>
					<!-- <a href="{{ path ('noteOrder') }}"><button type="button" class="btn btn-primary btn-lg btn-block">Notes commande</button></a> -->
					<a href="{{ path ('mapCustomers') }}"><button type="button" class="btn btn-primary btn-lg btn-block">LOCALISATION Clients</button></a>
				</div>
				{% endif %} {# end role communication #}
			</div>
			<div class="col-md-3">	
				{% if is_granted('ROLE_INDI_COMMUNICATION','ROLE_INDI_GESTION') %}
				<h3>OUTILS</h3>
				<div class="button_accueil">
					<h4>Traitement photos</h4>
					<a href="{{ path ('toolProduct')}}"><button type="button" class="btn btn-default btn-lg btn-block">Photos Produits</button></a>
					<a href="{{ path ('toolMerchant')}}"><button type="button" class="btn btn-default btn-lg btn-block">Photos Commerçants</button></a>
					<a href="{{ path ('toolMerchant')}}"><button type="button" class="btn btn-default btn-lg btn-block">Photos Catégories</button></a>
					<h4>Outils externes</h4>
					<a href="http://mistral.stars-services.com" target="_blank"><button type="button" class="btn btn-default btn-lg btn-block">Accès MISTRAL</button></a>
					<a href="https://mandrillapp.com/" target="_blank"><button type="button" class="btn btn-default btn-lg btn-block">Accès MANDRILL</button></a>
					<a href="https://dashboard.tawk.to/" target="_blank"><button type="button" class="btn btn-default btn-lg btn-block">Accès CHAT</button></a>
				</div>
				{% endif %} {# end role communication #}
			</div>
		</div>
	</div>
{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
