{% extends 'base.html.twig' %}
{% use '/menu/default.html.twig' %}
{% block body %}
{% include 'forms/default.html.twig' %}

<div class="container">
	<hr>
	{% for store, commercants in stores %}
	<table style="width: 100%">
		<tr>
			<th>
				<a href="#{{ store|replace({' ': "_"}) }}" data-toggle="collapse">{{ store }}</a>
			</th>
		</tr>
		<tr>
			<td>
				<div id="{{ store|replace({' ': "_"}) }}" class="store collapse">
					<table class="table">
						<tr>
							<th>Commercant</th>
							<th>Adresse</th>
							<th>Telephone</th>
							<th>N° Commande</th>
							<th>Montant Commande</th>
						</tr>

						{% for com_id, commercant in commercants %}
						<tr>
							<td> {{ commercant.name }} </td>
							<td> {{ commercant.addr }} </td>
							<td> {{ commercant.phone ~" / "~ commercant.mobile }} </td>
							<td>

								{% for order_id, order in commercant.orders %}
								<a href="/indi/orders/{{ order_id}}" target="_blanc">{{ order_id }}</a><br>
								{% endfor %}
							</td>
							<td>
								{% for order_id, order in commercant.orders %}
								{{ order.total_prix ~ "€" }}<br/>
								{% endfor %}
							</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</td>
		</tr>
	</table>	
	{% endfor %}
</div>
{% endblock %}
