{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
<div class="container">
	<h1> Payout Submit </h1><br>


	{{ form_start(form) }}


	{% for key , fields in merchants %}
		{% if fields.name == choice %}
				
			<h4><b>Owner Name :</b></h4>
			{{ form_widget(form.ownerName, {'attr': {'value': fields.ownerName} }) }}
			<h4><b> Iban :</b></h4>
			{{ form_widget(form.iban, {'attr': {'value': fields.iban} }) }}

			{{ form_widget(form) }}
			<input type="submit" value="Submit" class="btn btn-default" onClick="return confirm('Confirmer le payout ?');" />
		{% endif %}
	{% endfor %}

	{{ form_errors(form) }}
	{{ form_rest(form) }}
	{{ form_end(form) }}




{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
