{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
<div class="container">
		
	<h2>Soumettre un payout :</h2>

		{{ form_start(form_prepayout) }}
		{{ form_widget(form_prepayout) }}
		{{ form_end(form_prepayout) }}

	<hr>
	<h2>Historique des payouts :</h2>
	<table id="payoutTable" class="table table-striped">
		<thead>
			<tr>
				<th>Reference</th>
				<th>Value</th>
				<th>Date</th>
				<th>IBAN</th>
				<th>Owner Name</th>
				<th>Shopper Email</th>
				<th>Shopper Reference</th>
			</tr>
		</thead>
		<tbody>
			{% for payout in payout_list %}
			<tr>
				<td>{{ payout.reference }}</td>
				<td>{{ payout.value/100 }}</td>
				<td>{{ payout.date|date('d-m-Y H:i:s') }}</td>
				<td>{{ payout.iban }}</td>
				<td>{{ payout.ownerName }}</td>
				<td>{{ payout.shopperEmail }}</td>
				<td>{{ payout.shopperReference }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
{% block css_payout %}
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css" />
{% endblock %}
{% block javascript_payout %}
	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
$(document).ready(function() {
	$('#payoutTable').DataTable( {
		"footerCallback": function ( row, data, start, end, display ) {
			var api = this.api(), data;

			// Remove the formatting to get integer data for summation
			var intVal = function ( i ) {
				return typeof i === 'string' ?
					i.replace(/[\$,]/g, '')*1 :
					typeof i === 'number' ?
					i : 0;
			};
		}
	} );
} );
	</script>
{% endblock %}
