{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
<div class="container">
	<h1> Payout Index </h1><br>
	<div class="row">
		<div class="col-md-4">
			<div class="button_accueil">
				<a href="{{ path ('billingPayoutSubmit') }}"><button type="button" class="btn btn-default btn-lg btn-block">Submit Payout</button></a>
			</div>
		</div>
		<div class="col-md-8"></div>
	</div>

	<h1>Historique des payouts</h1>
	
	<p><h4>Nombre d'entrées : </h4></p>
	<div id ="pager">
		<form>
			<select class="pagesize">
				<option value="1">1</option>
				<option selected="selected" value="10">10</option>
				<option value="50">50</option>
				<option value="100">100</option>
				<option value="9999">All</option>
			</select>
		</form>
	</div>


	<table class="table tablesorter">
		<thead>
			<tr>
				<th>Reference&nbsp;</th>
				<th>Value&nbsp;&nbsp;</th>
				<th>Date</th>
				<th>IBAN</th>
				<th>Owner Name&nbsp;</th>
				<th>Shopper Email</th>
				<th>Shopper Reference</th>

			</tr>
		</thead>
		<tbody>
		{% for payout in payout_list %}
			<tr>
				<td>{{ payout.reference }}</td>
				<td>{{ payout.value/100 }}</td>
				<td>{{ payout.date|date('Y-m-d H:i:s') }}</td>
				<td>{{ payout.iban }}</td>
				<td>{{ payout.ownerName }}</td>
				<td>{{ payout.shopperEmail }}</td>
				<td>{{ payout.shopperReference }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	Total Value : <span class="total"></span>
</div>
{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
