{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
<div class="container">
	<h1> Payout Index </h1><br>
	
	<div class="row">
		<div class="col-md-4">
			{{ form_start(form_prepayout, {'attr': {'id': 'confirm_button'} }) }}


	{{ form_end(form_prepayout) }}
		</div>
		<div class="col-md-8">
	</div>
	</div>

	<h1>Historique des payouts</h1>
	<table id="payoutTable" class="table table-striped">
		<thead>
			<tr>
				<th>Reference</th>
				<th>Value</th>
				<th>Date</th>
				<th>IBAN</th>
				<th>Owner Name</th>
				<th>Shopper Email</th>
				<th>Shopper Reference</th>
			</tr>
		</thead>
		<tbody>
			{% for payout in payout_list %}
			<tr>
				<td>{{ payout.reference }}</td>
				<td>{{ payout.value/100 }}</td>
				<td>{{ payout.date|date('d-m-Y H:i:s') }}</td>
				<td>{{ payout.iban }}</td>
				<td>{{ payout.ownerName }}</td>
				<td>{{ payout.shopperEmail }}</td>
				<td>{{ payout.shopperReference }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
{% block css_payout %}
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css" />
{% endblock %}
{% block javascript_payout %}
	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
$(document).ready(function() {
	$('#payoutTable').DataTable( {
		"footerCallback": function ( row, data, start, end, display ) {
			var api = this.api(), data;

			// Remove the formatting to get integer data for summation
			var intVal = function ( i ) {
				return typeof i === 'string' ?
					i.replace(/[\$,]/g, '')*1 :
					typeof i === 'number' ?
					i : 0;
			};

			// Total over all pages
			total = api
				.column( 1 )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );

			// Total over this page
			pageTotal = api
				.column( 1, { page: 'current'} )
				.data()
				.reduce( function (a, b) {
					return intVal(a) + intVal(b);
				}, 0 );

			// Update footer
			$( api.column( 1 ).footer() ).html(
					'$'+pageTotal +' ( $'+ total +' total)'
					);
		}
	} );
} );
	</script>
	<script type="text/javascript">

$(document).on('submit', function(e) {
		
	if(!confirm($(this).data('confirm'))){
		e.stopImmediatePropagation();
		e.preventDefault();
		confirmSubmit();
	}
});

function confirmSubmit() {
	var result = confirm('Confirmer le payout ?');

	if (result === true) {
		$('#confirm_button').submit();
	}
}

	</script>
{% endblock %}
