{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
<div class="container">
	<h1> Payout Index </h1><br>
	<div class="row">
		<div class="col-md-4">
			<div class="button_accueil">
				<a href="{{ path ('billingPayoutSubmit') }}"><button type="button" class="btn btn-default btn-lg btn-block">Submit Payout</button></a>
			</div>
		</div>
		<div class="col-md-8"></div>
	</div>

	<h1>Historique des payouts</h1>

	<div class="row">
		<div class="col-md-3">
			<h4>Nombre d'entrées : </h4>
				<div id ="entryNumber" class="ts-pager">
						<select class="pagesize">
							<option value="1">1</option>
							<option selected="selected" value="10">10</option>
							<option value="50">50</option>
							<option value="100">100</option>
							<option value="999999">All</option>
						</select>
				</div>
			<h4>Numero de page : </h4>
				<div id ="pageNumero" class="ts-pager">
						<select class="pagenum"></select>
				</div>
		</div>
		<div class="col-md-6">
			Recherche sur toutes les colonnes <input class="search" type="search" data-column="all"></br>
			<button type="button" class="reset">Reset la recherche</button>
		</div>
		<div class="col-md-3">
			<button type="button" id="reset-filter">Reset les filtres colonne</button>
		</div>
	</div>
	</br>
	<table class="table table-striped tablesorter">
		<thead>
			<tr>
				<th>Reference</th>
				<th>Value</th>
				<th data-sorter="false">Date</th>
				<th>IBAN</th>
				<th>Owner Name</th>
				<th>Shopper Email</th>
				<th>Shopper Reference</th>
			</tr>
		</thead>
		<tbody>
			{% for payout in payout_list %}
			<tr>
				<td>{{ payout.reference }}</td>
				<td>{{ payout.value/100 }}</td>
				<td>{{ payout.date|date('d-m-Y H:i:s') }}</td>
				<td>{{ payout.iban }}</td>
				<td>{{ payout.ownerName }}</td>
				<td>{{ payout.shopperEmail }}</td>
				<td>{{ payout.shopperReference }}</td>
			</tr>
		{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th colspan="7" class="ts-pager form-horizontal">
					<div class="btn-group">
						<button type="button" class="btn first"><i class="fa fa-fast-backward" aria-hidden="true"></i></button>
						<button type="button" class="btn prev"><i class="fa fa-backward" aria-hidden="true"></i></button>
					</div>
					<div class="btn-group">
						<button type="button" class="btn next"><i class="fa fa-forward" aria-hidden="true"></i></button>
						<button type="button" class="btn last"><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
					</div>
				</th>
			</tr>
		</tfoot>
		<tr>
				<th colspan="1">Total ALL values</th>
				<th data-math="col-sum"></th>
		</tr>
	</table>

</div>
{% endblock %}
{% block css_payout %}
	<link rel="stylesheet" href="{{ path ('root') }}css/bootstrap-v3.min.css" type="text/css" />
	<link rel="stylesheet" href="{{ path ('root') }}css/theme.bootstrap_2.css" type="text/css" />
	<link rel="stylesheet" href="{{ path ('root') }}css/jquery.tablesorter.pager.css" type="text/css" />
{% endblock %}
{% block javascript_payout %}
	<script type="text/javascript" src="{{ path('root') }}js/jquery.tablesorter.js"></script>
	<script type="text/javascript" src="{{ path('root') }}js/jquery.tablesorter.widgets.js"></script>
	<script type="text/javascript" src="{{ path('root') }}js/jquery.tablesorter.pager.js"></script>
	<script type="text/javascript" src="{{ path('root') }}js/widget-math.js"></script>
	<!-- SORT function and MATH function for total column 'value'  -->
	<script type="text/javascript">
	$.tablesorter.themes.bootstrap = {
		iconSortNone : 'bootstrap-icon-unsorted', // class name added to icon when column is not sorted
		iconSortAsc  : 'icon-chevron-up', // class name added to icon when column has ascending sort
		iconSortDesc : 'icon-chevron-down', // class name added to icon when column has descending sort
	};

	/* RESET FILTER */
	$(function() {
		var $table = $(".tablesorter");
		$("#reset-filter").click(function(e) {
			$table.trigger('filterReset').trigger('sortReset');
			return false;
		});
	});
	
	


	$(".tablesorter")
	.tablesorter({
		theme: 'bootstrap',
		// fix column width
		widthFixed: true,

		headerTemplate : '{content} {icon}',

		// fix mathematic count
		delayInit: true,
		// widgets for  bootstrap theme , columns , count , sort
		widgets: ['uitheme' , 'columns' , 'math' , 'filter'],
		widgetOptions: {
			filter_external : '.search', // search filter
			filter_reset	: '.reset',

			filter_columnFilters: true, // true = column filter at top of each column
			filter_hideFilters: false, // true = search filter on hover
			filter_ignoreCase: true, // true = NO case trouble

			// filter widget: If true, ALL filter searches will only use parsed
			// data. To only use parsed data in specific columns, set this option
			// to false and add class name "filter-parsed" to the header
			filter_useParsedData: true,

			// data-math attribute
			math_data	: 'math',
			math_none	: 'N/A',
			math_complete: function($cell, wo, result, value, arry){
				var txt ='<span class="align-decimal">' + result + '</span>';
				return txt;
			},
			math_mask	: '### ### ###,00 €',
			// event triggered on the table => math widget updates all data-math cells
			math_event	: 'recalculate'
		}
	})
	.tablesorterPager({
		container: $(".ts-pager"),
		size: 10,
		cssGoto: ".pagenum",
		output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'
	});

	// make search buttons work
	$('button[data-column]').on('click', function() {
		var $this = $(this),
			totalColumns = $table[0].config.columns,
			col = $this.data('column'),
			filter = [];
	});
	</script>
{% endblock %}
