{% extends 'base.html.twig' %}
{% use '/menu/default.html.twig' %}

{% block body %}
{% include 'forms/default.html.twig' %}

<div class="container">
	<hr>
	<h1> Orders All </h1>
	{% for order_id, order in orders %}
	<table style="width:100%">
		<tr>
			<td style="width: 40%">
				<a href="#{{ order_id }}" data-toggle="collapse">
					<label>{{ order_id ~" "~ order.first_name ~" "~ order.last_name }}</label>
				</a>
			</td>
			<td style="width:30%">
				<label>{{ "Nombre d'articles :" ~ order.total_quantite }}</label>
			</td>
			<td style="width:30%">
				<label>{{ "Total :" ~ order.total_prix }}</label>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<div id="{{ order_id }}" class="order collapse">
					<table class="table">
						<tr>
							<td style="width: 50%">
								<table class="table">
									<tr>
										<td><b>Commande N°</b></td>
										<td><a href="{{path('ordersOne', {id: order_id})}}" target="_blanc">{{ order_id }}</a></td>
									</tr>
									<tr>
										<td><b>Client</b></td>
										<td>{{ order.first_name ~" "~ order.last_name }}</td>
									</tr>
									<tr>
										<td><b>Prise de Commande</b></td>
										<td>{{ order.order_date }}</td>
									</tr>
									<tr>
										<td><b>Date de Livraison</b></td>
										<td>{{ order.delivery_date }}</td>
									</tr>
									<tr>
										<td><b>Creneau de Livraison</b></td>
										<td>{{ order.delivery_time }}</td>
									</tr>
									<tr>
										<td><b>Remplacement équivalent</b></td>
										<td>{{ (order.equivalent_replacement == 1) ? "oui" : "non" }}</td>
									</tr>
								</table>
							</td>
							<td>
								<table class="table">
									<tr>
										<td><b>Adresse de Livraison</b></td>
										<td><a href="https://www.google.com/maps?q={{order.address}}" target="_blanc">{{ order.address }}</a></td>
									</tr>
									<tr>
										<td><b>Telephone</b></td>
										<td>{{ order.phone }}</td>
									</tr>
									<tr>
										<td><b>Info Complementaire</b></td>
										<td>{{ order.info }}</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<table class="table table-striped">
						<tr>
							<th>Produit</th>
							<th>Quantite</th>
							<th>Description</th>
							<th>Prix</th>
							<th>Total</th>
							<th>Commentaire</th>
						</tr>
						{% for product in order.products %}
						<tr>
							<td>{{ product.nom }}</td>
							<td>{{ product.quantite }}</td>
							<td>{{ product.description }}</td>
							<td>{{ product.prix_unitaire ~"€ (" ~ product.prix_kilo ~")"}}</td>
							<td>{{ product.prix_total }}</td>
							<td>{{ product.comment }}</td>
						</tr>
						{% endfor %}
						<tr>
							<td><b>TOTAL</b></td>
							<td colspan="3"><b>{{ order.total_quantite }}</b></td>
							<td colspan="2"><b>{{ order.total_prix }}</b></td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
	{% endfor %}
</div>
{% endblock %}
