{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}

<div class="container">
	<div class="page-header">
		<h2> Manques / Exces des produits commercants du <input type="text" class="form-control" id="datepickerPriceVariation" placeholder="Cliquez pour selectionner la date" value="{{ date_debut }}"> au <input type="text" class="form-control" id="datepickerEndPriceVariation" placeholder="Cliquez ici pour selectionner la date" value="{{ date_fin }}"></h2>
	</div>

	<div id="filter"><label>Selectionnez le commercant : &nbsp;</label></div>

	{% set maxValue = 0.0 %}
	{% set minValue = 0.0 %}

	{% for price in prices %}
		{% set maxValue = max(price.lack, maxValue) %}
		{% set minValue = min(price.excess, minValue) %}
	{% endfor %}

	<table class="table table-striped" id="priceVariationTable">
		<thead>
			<tr>
				<th class="sort">Commercant</th>
				<th>N° de commande</th>
				<th>Date de creation</th>
				<th class="float">Manque</th>
				<th class="float">Exces</th>
			</tr>
		</thead>
		<tbody>
			{% for price in prices %}
			<tr>
				<td>{{ price.merchant_name }}</td>
				<td><a href="{{ path('refundDigest', {'id': price.order_id}) }}" target="__blank">{{ price.order_id }}</a></td>
				<td>{{ price.created_at|date('d/m/Y H:i') }}</td>
				{% if maxValue == price.lack %}
					<td style="color: red;">{{ price.lack }}</td>
				{% else %}
					<td>{{ price.lack }}</td>
				{% endif %}
				{% if minValue == price.excess %}
					<td style="color: red;">{{ price.excess }}</td>
				{% else %}
					<td>{{ price.excess }}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</tfoot>
	</table>
</div>

{% endblock %}

{% block css_merchant_price_variation %}
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css" />
{% endblock %}
{% block javascript_merchant_price_variation %}

<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

<script>

$(function() {
	$( "#datepickerPriceVariation" ).datepicker({
		altField: "#datepickerPriceVariation",
		closeText: 'Fermer',
		prevText: 'Précédent',
		nextText: 'Suivant',
		currentText: 'Aujourd\'hui',
		monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
		monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
		dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
		dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
		dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
		weekHeader: 'Sem.',
		dateFormat: 'dd/mm/yy',
	});
	$( "#datepickerEndPriceVariation" ).datepicker({
		altField: "#datepickerEndPriceVariation",
		closeText: 'Fermer',
		prevText: 'Précédent',
		nextText: 'Suivant',
		currentText: 'Aujourd\'hui',
		monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
		monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
		dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
		dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
		dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
		weekHeader: 'Sem.',
		dateFormat: 'dd/mm/yy',
	});
});

$(function(){
	$("#datepickerEndPriceVariation").change(function(){
		window.location='{{ path('statMerchantProduct') }}?date_debut='+$("#datepickerPriceVariation").val()+'&date_fin='+this.value;
	});
});

$(document).ready(function() {
	var table=$('#priceVariationTable').DataTable({
		"lengthMenu": [ [10, 50, 100, -1], [10, 50, 100, "All"] ],
		"pageLength": -1,
		"order": [[ 0, 'asc' ]],
		initComplete: function () {
			this.api().columns(['.sort']).every(function () {
				var column = this;
				var select = $('<select><option value=""></option></select>')
					.appendTo( $('#filter') )
					.on( 'change', function () {
						var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

						column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
					} );

				column.data().unique().sort().each( function ( d, j ) {
					select.append( '<option value="'+d+'">'+d+'</option>' )
				} );
			});
		},
		"footerCallback": function ( row, data, start, end, display ) {
			var api = this.api(), data;

			// Remove the formatting to get integer data for summation
			var intVal = function ( i ) {
				return typeof i === 'string' ?
					i.replace(/[\$,]/g, '')*1 :
					typeof i === 'number' ?
					i : 0;
			};
			this.api().columns(['.float']).every(function (){
				var index = this.index();
				pageTotal = api
					.column( index, { page: 'current'} )
					.data()
					.reduce( function (a, b) {
						return intVal(a) + intVal(b);
					}, 0 );
				pageTotal=pageTotal.toFixed(2);
				// Update footer
				$( api.column( index ).footer() ).html(pageTotal);
			});
		}
	} );
});

</script>

{% endblock %}