{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
<div class="container">
		<h2>{{ " Note de la commande " ~ order_id }}</h2>
		<hr>


		{{ form_start(form_note_order) }}
		
		{{ form_widget(form_note_order.orderId, {'attr': {'value': order_id} }) }}


		{{ form_errors(form_note_order) }}
		{{ form_end(form_note_order) }}
</div>
{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
