{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="page-header">
        <h2>Evolution des produits du <input type="text" class="form-control" id="datepickerProductEvolution" placeholder="Cliquez pour selectionner la date" value="{{ date_debut }}"> au <input type="text" class="form-control" id="datepickerEndProductEvolution" placeholder="Cliquez ici pour selectionner la date" value="{{ date_fin }}"> avec le sku <input type="text" class="form-control" id="skuProductEvolution" placeholder="Cliquez pour selectionner le sku" value="{{ sku }}"></h2>
    </div>

 

    <div id="graph"></div>

</div>

{% endblock %}
{% block css_product_evolution %}

    <link rel="stylesheet" type="text/css" href="{{ path('root') }}css/stat/productEvolution.css">

{% endblock %}
{% block javascript_product_evolution %}
    <script src="http://d3js.org/d3.v3.js"></script>

    <script type="text/javascript">
    
        $(function() {
            $( "#datepickerProductEvolution" ).datepicker({
                altField: "#datepickerProductEvolution",
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                dateFormat: 'dd/mm/yy',
            });
            $( "#datepickerEndProductEvolution" ).datepicker({
                altField: "#datepickerEndProductEvolution",
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                dateFormat: 'dd/mm/yy',
            });
        });
    
        $(function(){
            $("#skuProductEvolution").change(function(){
                window.location='{{ path('productEvolution') }}?date_debut='+$("#datepickerProductEvolution").val()+'&date_fin='+$("#datepickerEndProductEvolution").val()+'&sku='+this.value;
            });
        });

    </script>
    <script type="text/javascript">
        var json_data = {{ json_products|raw }};
    </script>
    <script type="text/javascript" src="{{ path('root') }}js/stat/productEvolution.js"></script>

{% endblock %}