{% extends 'ApdcApdcBundle::base.html.twig' %}

{% block body %}

	<div class="container modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title">Creer un commentaire</h1>
			</div>

			<div class="modal-body">
				<p id="warningVisibleComment"></p>

				{{ form_start(form_comment, {'action': path('toolCommentsProcess'), 'method': 'GET'}) }}
				
				<div class="form-group">
					<label for="form_comment_type" id="comment_type_label">Type de commentaire</label>
					<div id="form_comment_type">{{ form_widget(form_comment.type) }}</div>
				</div>

				<div class="form-group">
					<label for="form_comment_order_id" id="order_id_label"># Commande</label>
				{% if order_id is not null %}
					{{ form_widget(form_comment.order_id, {'attr': {'value': order_id } }) }}
				{% else %}
					{{ form_widget(form_comment.order_id) }}
				{% endif %}
				</div>

				<div class="form-group">
					<label for="form_comment_merchant_id" id="merchant_id_label">Commercant</label>
					<div id="form_comment_merchant_id">{{ form_widget(form_comment.merchant_id) }}</div>
				</div>

				<div class="form-group">
					<label for="associatedOrderCheckbox" id="checkbox_label">Concerne aussi une deuxième commande ?</label>
					<input type="checkbox" id="associatedOrderCheckbox" onclick="toggleCheckbox(this);">
				</div>

				<div class="form-group">
					<label for="form_comment_associated_order_id" id="associated_order_id_label"># Commande associée</label>
					<div id="form_comment_associated_order_id">{{ form_widget(form_comment.associated_order_id) }}</div>
				</div>

				<div class="form-group">
					<label for="form_comment_text">Commentaire</label>
					<div id="form_comment_text">{{ form_widget(form_comment.text) }}</div>
				</div>

				{{ form_end(form_comment) }}
			</div>
		</div>
	</div>

{% endblock %}
{% block javascript_comments_form %}
	<script type="text/javascript">

		var comment_type = document.getElementById("comment_type");
		var comment_merchant_id = document.getElementById("comment_merchant_id");
		var warning_visible_comment = document.getElementById('warningVisibleComment');
		var comment_associated_order_id = document.getElementById('comment_associated_order_id');
		var associated_order_id_label = document.getElementById('associated_order_id_label');
		var comment_order_id = document.getElementById('comment_order_id');

		var comment_view = '{{ comment_view }}';

		switch(comment_view) {
			// refund/input.html.twig
			case 'refund_input':
				// Display warning if choosing comment type visible by customer in his email
				comment_type.addEventListener('click', function (e) {
					if (comment_type.value == "customer_is_visible") {
						warning_visible_comment.classList.add("alert", "alert-danger");
						warning_visible_comment.innerHTML = 'Attention ! Ce commentaire sera visible par le client dans l\'email du traitement de commande';
					} else {
						warning_visible_comment.classList.remove("alert", "alert-danger");
						warning_visible_comment.innerHTML = '';
					}
				});
				// Hide visible customer comment if already visible customer comment
				var already_visible_customer_comment = '{{ already_visible_customer_comment }}';
				if (already_visible_customer_comment == 1) {
					for (var i = 0; i < comment_type.children.length; i++) {
						if (comment_type.children[i].label == "Commentaires visibles") {
							comment_type.children[i].style.display = "none";
						}
					}
				}
				break;
			// billing/one.html.twig
			case 'billing_one':
				// Hide comment_type input text
				comment_type.style.display = "none";
				document.getElementById('comment_type_label').style.display = "none";
				// Hide merchant_id input text
				comment_merchant_id.style.display = "none";
				merchant_id_label.style.display = "none";
				// Hide order_id input text
				comment_order_id.value = "0";
				comment_order_id.style.display = "none";
				document.getElementById('order_id_label').style.display = "none";
				// Hide associated order_id checkbox
				document.getElementById('associatedOrderCheckbox').style.display = "none";
				document.getElementById('checkbox_label').style.display = "none";
				break;
			// tool/comments/history.html.twig
			case 'default':
				break;
		}


		// Hide "Aucun commercant" choice
		if (comment_merchant_id[2]) {
			comment_merchant_id[2].style.display = "none";
		}

		// Hide merchant choice type if customer comment type
		comment_type.addEventListener('click', function (e) {
			if (comment_type.value == "customer_not_visible" || comment_type.value == "customer_is_visible") {
				comment_merchant_id.value = "0";
				comment_merchant_id.style.display = "none";
				document.getElementById('merchant_id_label').style.display = "none";
			} else {
				comment_merchant_id.style.display = "block";
				document.getElementById('merchant_id_label').style.display = "block";
			}
		});

		// Only display associated_order if checkbox is checked
		comment_associated_order_id.style.display = "none";
		comment_associated_order_id.value = "0";
		associated_order_id_label.style.display = "none";

		function toggleCheckbox(checkbox)
		{
			if (checkbox.checked) {
				comment_associated_order_id.style.display = "block";
				comment_associated_order_id.value = "";
				associated_order_id_label.style.display = "block";
			} else {
				comment_associated_order_id.style.display = "none";
				comment_associated_order_id.value = "0";
				associated_order_id_label.style.display = "none";
			}
		}

	</script>
{% endblock %}