{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}

<div class="container-fluid">

	<div class="space-between page-header">
		<h2>Liste des commentaires du <input type="text" class="form-control" id="datepickerCommentsHistory" placeholder="Cliquez pour selectionner la date" value="{{ date_debut }}"> au <input type="text" class="form-control" id="datepickerEndCommentsHistory" placeholder="Cliquez pour selectionner la date" value="{{ date_fin }}"></h2>
		<div><button type="button" class="btn btn-info" data-toggle="modal" data-target="#createCommentModal" >Ajouter un commentaire</button></div>
	</div>

	<div id="createCommentModal" class="modal fade">
		{{ render(controller('ApdcApdcBundle:Tool:commentsForm', {'request': app.request} )) }}
	</div>

	<div id="filter"><label>Filtrer par type / client / commercant : &nbsp;</label></div>

	<table class="table table-striped" id="commentsHistoryTable">
		<thead>
			<tr>
				<th class="sort">Type de commentaire</th>
				<th>Commande</th>
				<th>Autre commande concernée</th>
				<th class="sort">Client</th>
				<th class="sort">Commercant</th>
				<th>Auteur & Date</th>
				<th style="width:50%">Commentaire</th>
			</tr>
		</thead>
		<tbody>
			{% for comment in comments %}
			<tr>
				<td>{{ comment.comment_label }}</td>
				<td><a href="{{ path('ordersOne', {'id': comment.order_id}) }}">{{ comment.order_id }}</a></td>
				<td>
					{% if comment.associated_order_id == 0 %}Aucune{% else %}{{ comment.associated_order_id }}{% endif %}
				</td>					
				<td>{{ comment.customer_firstname ~ " " ~ comment.customer_lastname }}</td>
				<td>
					{% if comment.merchant_id == -1 %}All
					{% elseif comment.merchant_id == 0 %}Aucun commercant
					{% else %}{{ comment.merchant_name }}{% endif %}
				</td>
				<td>{{ comment.author ~ " - " ~ comment.created_at|date('d/m/Y H:i') }}</td>
				<td style="width:50%">{{ comment.comment_text|raw }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>

{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
{% block css_comments_history %}
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css" />
{% endblock %}
{% block javascript_comments_history %}
	<script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript">

$(function() {
	$( "#datepickerCommentsHistory" ).datepicker({
		altField: "#datepickerCommentsHistory",
		closeText: 'Fermer',
		prevText: 'Précédent',
		nextText: 'Suivant',
		currentText: 'Aujourd\'hui',
		monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
		monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
		dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
		dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
		dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
		weekHeader: 'Sem.',
		dateFormat: 'dd/mm/yy',
	});
	$( "#datepickerEndCommentsHistory" ).datepicker({
		altField: "#datepickerEndCommentsHistory",
		closeText: 'Fermer',
		prevText: 'Précédent',
		nextText: 'Suivant',
		currentText: 'Aujourd\'hui',
		monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
		monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
		dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
		dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
		dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
		weekHeader: 'Sem.',
		dateFormat: 'dd/mm/yy',
	});
});

$(function(){
	$("#datepickerEndCommentsHistory").change(function(){
		window.location='{{ path('toolCommentsHistory') }}?date_debut='+$("#datepickerCommentsHistory").val()+'&date_fin='+this.value;
	});
});


$(document).ready(function() {
	var table=$('#commentsHistoryTable').DataTable({
		"lengthMenu": [ [10, 50, 100, -1], [10, 50, 100, "All"] ],
		"pageLength": -1,
		"order": [[ 1, 'dsc' ]],
		initComplete: function () {
			this.api().columns(['.sort']).every(function () {
				var column = this;
				var select = $('<select><option value=""></option></select>')
					.appendTo( $('#filter') )
					.on( 'change', function () {
						var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

						column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
					} );

				column.data().unique().sort().each( function ( d, j ) {
					select.append( '<option value="'+d+'">'+d+'</option>' )
				} );

				// Array.prototype.forEach.call(select[0], function(e) {
				// 	if (e.value == "Aucun commercant") {
				// 		e.remove();
				// 	}
				// });
			});
		},
		"footerCallback": function ( row, data, start, end, display ) {
			var api = this.api(), data;

			// Remove the formatting to get integer data for summation
			var intVal = function ( i ) {
				return typeof i === 'string' ?
					i.replace(/[\$,]/g, '')*1 :
					typeof i === 'number' ?
					i : 0;
			};
			this.api().columns(['.float']).every(function (){
				var index = this.index();
				pageTotal = api
					.column( index, { page: 'current'} )
					.data()
					.reduce( function (a, b) {
						return intVal(a) + intVal(b);
					}, 0 );
				pageTotal=pageTotal.toFixed(2);
				// Update footer
				$( api.column( index ).footer() ).html(pageTotal);
			});
		}
	} );
});

</script>
{% endblock %}