{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
	<div class="container">
	<h1> Liste des commandes par quartiers </h1><br>
	<div class="row">
		<div class="col-md-6">{% include 'ApdcApdcBundle::forms/default.html.twig' %}</div>
		<div class="col-md-1"></div>
		<div class="col-md-5">{% include 'ApdcApdcBundle::tool/lpr_info.html.twig' %}</div>
	</div>	
		<hr>
		{% for store, merchants in stores %}
			<table style="width: 100%">
				<tr>
					<th>
						{# Nb commandes/quartier == maximum de la taille du tableau 'orders' #}
						{% set max_nb_commandes_quartier = 0 %}
						{% set commandes_msg = "" %}
						
						{% if store != "" %}
							{% for com_id, merchant in merchants %}
								{% set max_nb_commandes_quartier = max(merchant.orders|length, max_nb_commandes_quartier) %}
								{% if max_nb_commandes_quartier == 0 %}
									{% set commandes_msg %}<div></div>{% endset %}
								{% else %}
									{% set commandes_msg %}<div style="color:red">{{ max_nb_commandes_quartier ~ " commande(s) "}}</div>{% endset %}
								{% endif %}
							{% endfor %}
							<h2><a href="#{{ store|replace({' ': '_'}) }}" data-toggle="collapse">{{ store }}<h4>{{ commandes_msg }}</h4></a></h2>
						{% endif %}
					</th>
				</tr>
				<tr>
					<td>
						<div id="{{ store|replace({' ': '_'}) }}" class="store collapse">
							{% for com_id, merchant in merchants %}
								<div class="merchant{{ (merchant.active==0) ? " error" : "" }}">
									<label>
										<div style="display:inline-block;"><h3><a href={{ shop_url ~ merchant.shop_id }} target="_blank">{{ merchant.name }}</a></h3></div>
										<div style="display:inline-block; margin-left:8px;"><a href="#{{ com_id }}" data-toggle="collapse"><i class="fa fa-calendar" aria-hidden="true"></i></div>
										<h4><a href={{ manager_url ~ merchant.manager_id }} target="_blank">{{ merchant.manager_name }}: <a href="tel:{{ merchant.phone }}">{{ merchant.phone }}</a> / <a href="tel:{{ merchant.mobile }}">{{ merchant.mobile }}</a></h4>
									<h4 style="color:red;">{{ merchant.warning_days }}</h4></label><br/>

									<div id="{{ com_id }}" class="store collapse">
										<div>{{ merchant.timetable|raw }}</div>
									</div>
									<br/>

									{% for order_id, order in merchant.orders %}
										<table style="width: 100%">
											<tr>
												<td style="width:40%">
													<a href="#{{ order_id ~ "-" ~ com_id }}" data-toggle="collapse">
														<label>{{ order_id ~" "~ order.first_name ~" "~ order.last_name }}</label>
													</a>
												</td>
												<td style="width:30%">
													<label>{{"Nombre d'articles : " ~ order.total_quantite }}</label>
												</td>
												<td style="width:30%">
													<label>{{"Total : " ~ order.total_prix ~ "€"}}</label>
												</td>
											</tr>
											<tr>
												<td colspan="3">
													<div id="{{ order_id ~ "-" ~ com_id }}" class="order collapse">
														<table class="table">
															<tr>
																<td style="width: 50%">
																	<table class="table" style="width:50%">
																		<tr>
																			<td><b>Commande N°</b></td>
																			<td><a href="{{path('ordersOne', {id: order_id})}}" target="_blanc">{{ order_id }}</a></td>
																		</tr>
																		<tr>
																			<td><b>Client</b></td>
																			<td>{{ order.first_name ~" "~ order.last_name }}</td>
																		</tr>
																		<tr>
																			<td><b>Prise de Commande</b></td>
																			<td>{{ order.order_date }}</td>
																		</tr>
																		<tr>
																			<td><b>Date de livraison</b></td>
																			<td>{{ order.delivery_date }}</td>
																		</tr>
																		<tr>
																			<td><b>Creneau de livraison</b></td>
																			<td>{{ order.delivery_time }}</td>
																		</tr>
																		<tr>
																			<td><b>Remplacement équivalent</b></td>
																			<td>{{ (order.equivalent_replacement == 1) ? "oui" : "non" }}</td>
																		</tr>
																	</table>
																</td>
																<td style="width: 50%">
																	<table class="table">
																		<tr>
																			<td><b>Adresse de Livraison</b></td>
																			<td><a href="https://www.google.com/maps?q={{order.address}}" target="_blanc">{{ order.address }}</a></td>
																		</tr>
																		<tr>
																			<td><b>Telephone</b></td>
																			<td>{{ order.phone }}</td>
																		</tr>
																		<tr>
																			<td><b>Batiment & Etage</b></td>
																			<td>Bat: {{ order.batiment }}, Etage: {{ order.etage }}</td>
																		</tr>
																		<tr>
																			<td><b>Codes porte</b></td>
																			<td>Code Porte 1: {{ order.codeporte1 }}, Code Porte 2: Code Porte 1: {{ order.codeporte2 }}</td>
																		</tr>
																		<tr>
																			<td><b>Infos Complémentaires</b></td>
																			<td>{{ order.info }}</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
														<table class="table table-striped">
															<tr>
																<th>Produit</th>
																<th>Quantite</th>
																<th>Description</th>
																<th>Prix</th>
																<th>Total</th>
																<th>Commentaire</th>
															</tr>
															{% for product in order.products %}
															{% if product.produit_fragile == 1 %}
																<tr style="background-color:rgba(255, 165, 0, 0.7)">
															{% else %}
																<tr>
															{% endif %}
																	<td>{{ product.nom }}</td>
																	<td>{{ product.quantite }}</td>
																	<td>{{ product.description }}</td>
																	<td>{{ product.prix_unitaire ~"€ (" ~ product.prix_kilo~")" }}</td>
																	<td>{{ product.prix_total ~"€" }}</td>
																	<td>{{ product.comment }}</td>
																</tr>
															{% endfor %}
															<tr>
																<td><b>TOTAL</b></td>
																<td colspan="3"><b>{{ order.total_quantite }}</b></td>
																<td colspan="2"><b>{{ order.total_prix }}</b></td>
															</tr>
														</table>
													</div>
												</td>
											</tr>
										</table>
									{% endfor %}
								</div>
							{% endfor %}
						</div>
					</td>
				</tr>
			</table>
		{% endfor %}
	</div>
{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
