{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}

<div class="container">
	<h1> Contenu de la table "Adyen/Order_Payment" </h1>

	<table class="table">
		<tr>
			<th>N° de commande</th>
			<th>Reference PSP</th>
			<th>Montant payé</th>
			<th>Montant remboursé</th>
			<th>Formulaire de remboursement</th>
		</tr>

		{% for order_id, fields in orders %}
			{% for id, order in fields %}
				<tr>
					<td>{{order.merchant_reference }}</td>
					<td>{{order.pspreference }}</td>
					<td>{{order.amount }}</td>
					<td>{{order.total_refunded }}</td>
					<td>{% if order.total_refunded < order.amount %}
						<a href="{{ path('refundAdyenForm', {id: order.merchant_reference}) }}" target="_blank">Lien</a>
						{% endif %}</td>
				</tr>
			{% endfor %}
		{% endfor %}
	</table>
</div>
{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
