{% extends 'ApdcApdcBundle::base.html.twig' %}

{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
<div class ="container">

	<h1> Adyen Form </h1>

	<hr>
	{{ form_start(form)}}
	{% for order_id, fields in orders %}
		{% if fields.pspreference == psp %}
			<h4><b> Reference PSP <b></h4>
				{{ form_widget(form.originalReference, {'attr': {'value': fields.pspreference} }) }}
			<hr>
			<h4><b> Montant à rembourser <b></h4>
			<h4> {{ "Vous ne pouvez pas rembourser plus de : " ~ (fields.amount-fields.total_refunded) ~ "€" }}</h4>
				{{ form_widget(form.value, {'attr': {'placeholder': (fields.amount-fields.total_refunded) } }) }}
			<hr>
			<h4> Montant déja remboursé </h4>
				{{ fields.total_refunded ~ " € "}}
			<hr>
		{% endif %} 
	{% endfor %}
	{{form_errors(form)}}
	{{ form_rest(form) }}	
	{{form_end(form)}}

</div>

{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
