<div class="row">
	<div class="col-sm-12">
		<h1>#{{id}}<small> Rembourser via Adyen</small></h1>
	</div>
</div>

<hr/>
{{ form_start(form)}}
	<h4><b> Reference PSP </b></h4>
		{{ form_widget(form.originalReference, {'attr': {'value': psp_reference} }) }}
	<hr>
	<h4><b>Montant à rembourser : </b>{{ refund_diff ~  " € "}}</h4>
		{{ form_widget(form.value, {'attr': {'placeholder': refund_diff ~ " € "} }) }}
	<br/>
{{form_errors(form)}}
{{form_rest(form)}}
{{form_end(form)}}

<hr/>	

<div>
	Pas assez d'infos sur la commande ?
	<div>
		<a href={{ adyen_platform_first_part ~ psp_reference ~ adyen_platform_second_part }} target="_blank">
			<input type="button" class="btn btn-success" value="Plateforme Adyen"/>
		</a>
	</div>
</div>