{% extends 'ApdcApdcBundle::base.html.twig' %}

{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
<div class="container">
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
	    	<span>100% Complete</span>
		</div>
	</div>	
	<h1>Remboursement <small>Récapitulatif</small></h1>
	<div>{{msg}}</div>
	<div class="row">
		<div class="col-sm-12">
			<table class='table'>
				<tr>
					<th>TOTAL COMMANDE</th>
					<td>{{total}}</td>
				</tr>
				<tr>
					<th>REFUNDED TOTAL</th>
					<td>{{refund_total}}</td>
				</tr>
				<tr>
					<th>DIFF</th>
					<td>{{refund_diff}}</td>
				</tr>
			</table>
		</div>
	</div>
	{% for merchant_id, merchant_part in order %}
		<h2>{{merchant_part.merchant.name}}</h2>
		<div class='row'>
			<div id='{{merchant_id}}-ticket-img' class='merchant-ticket col-sm-4' style='width: 350px; height: 400px;' value='{{merchant_part.merchant.ticket}}'></div>
			<div class="col-sm-8">
				<table id='{{merchant_id}}' class='merchant table'>
					<tr>
						<th>Produit</th>
						<th>Description</th>
						<th>Quantite</th>
						<th>Prix Unitaire</th>
						<th>Total Commande</th>
						<th>Total Ticket</th>
						<th>Differentiel</th>
						<th>Commentaire</th>
					</tr>
					{% for product_id, product in merchant_part.products %}
						<tr>
							<td>{{product.nom}}</td>
							<td>{{product.description}}</td>
							<td>{{product.quantite}}</td>
							<td>{{product.prix_kilo}}</td>
							<td>
								<span>{{product.prix_total}}</span>
							</td>
							<td>
								<span>{{product.refund_prix}}</span>
							</td>
							<td>
								<p>{{product.refund_diff}}</p>
							</td>
							<td>
								<span>{{product.refund_com}}</span>
							</td>
						</tr>
					{% endfor %}
					<tr>
						<th colspan='4'>TOTAL</th>
						<td><p>{{merchant_part.merchant.total}}</p></td>
						<td><p>{{merchant_part.merchant.refund_total}}</p></td>
						<td><p>{{merchant_part.merchant.refund_diff}}</p></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		<hr />
	{% endfor %}
	{% include 'ApdcApdcBundle::forms/default.html.twig' %}
</div>
{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
