{% extends 'ApdcApdcBundle::base.html.twig' %}

{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
	<div class="container">
	<h1>Remboursement : récapitulatif</h1></br>
	</div>
	<div>{{msg}}</div>
	<hr>
	{% for merchant_id, merchant_part in order %}
		<div class='row'>
			<table>
				<tr>
					<td>
						<div id='{{merchant_id}}-ticket-img' class='merchant-ticket' style='width: 350px; height: 400px;' value='{{merchant_part.merchant.ticket}}'></div>
					</td>
					<td>
						<h1>{{merchant_part.merchant.name}}</h1>
						<table id='{{merchant_id}}' class='merchant table'>
							<tr>
								<th>Produit</th>
								<th>Description</th>
								<th>Quantite</th>
								<th>Prix Unitaire</th>
								<th>Total Commande</th>
								<th>Total Ticket</th>
								<th>Differentiel</th>
								<th>Commentaire</th>
							</tr>
							{% for product_id, product in merchant_part.products %}
								<tr>
									<td>{{product.nom}}</td>
									<td>{{product.description}}</td>
									<td>{{product.quantite}}</td>
									<td>{{product.prix_kilo}}</td>
									<td>
										<span>{{product.prix_total}}</span>
									</td>
									<td>
										<span>{{product.refund_prix}}</span>
									</td>
									<td>
										<p>{{product.refund_diff}}</p>
									</td>
									<td>
										<span>{{product.refund_com}}</span>
									</td>
								</tr>
							{% endfor %}
							<tr>
								<th colspan='4'>TOTAL</th>
								<td><p>{{merchant_part.merchant.total}}</p></td>
								<td><p>{{merchant_part.merchant.refund_total}}</p></td>
								<td><p>{{merchant_part.merchant.refund_diff}}</p></td>
								<td></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<hr />
	{% endfor %}
	<table class='table'>
		<tr>
			<th>TOTAL COMMANDE</th>
			<td>{{total}}</td>
		</tr>
		<tr>
			<th>REFUNDED TOTAL</th>
			<td>{{refund_total}}</td>
		</tr>
		<tr>
			<th>DIFF</th>
			<td>{{refund_diff}}</td>
		</tr>
	</table>
	{% include 'ApdcApdcBundle::forms/default.html.twig' %}
	{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
