{% extends 'ApdcApdcBundle::base.html.twig' %}

{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}

{% set customer_name = order_header.first_name ~ " " ~ order_header.last_name %}
<div class="container">
	<div class="col-sm-2">
		<a href="{{ path('refundInput', {id:id}) }}" class="btn btn-default"><< Retour</a>
	</div>
	{% if refund_full > 0 %}
	<div class="progress col-sm-8">
		<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
	    	<span>Validation</span>
		</div>
	</div>
	<div class="col-sm-2">
		<a href="{{ path('refundFinal', {id:id}) }}" class="btn btn-default right">Suivant >></a>
	</div>
	{% else %}
	<div class="progress col-sm-8">
		<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
	    	<span>Validation</span>
		</div>
	</div>
	<div class="col-sm-2">
		<a href="{{ path('refundClosure', {id:id}) }}" class="btn btn-default right">Cloturer >></a>
	</div>	
	{% endif %}
	<div class="row">
		<div class="row">
			<div class="col-md-11"><h1>#{{ id ~ " / " ~ customer_name }}<small> Validation avant remboursement</small></h1></div>
			<div class="col-md-1">{% include 'ApdcApdcBundle::tool/mistral_delivery.html.twig' %}</div>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-sm-12">
			<table class='table'>
				<tr>
					<th>Total de la commande :</th>
					<td>{{total}}</td>
				</tr>
				<tr>
					<th>Remboursement produits</th>
					<td>{{refund_diff}}</td>
				</tr>
				<tr>
					<th>Remboursement livraisons</th>
					<td>{{refund_shipping}}</td>
				</tr>
			</table>
			<table class='table'>
				<tr>
					<th>MONTANT A REMBOURSER AU CLIENT</th>
					<td>{% if refund_full > 0 %}
							{{refund_full}}
						{% else %}
							0
						{% endif %}
					</td>
				</tr>
			</table>
		</div>
	</div>
	{% for form in forms %}
		{{ form_start(form) }}
		{{ form_widget(form) }}
			<div class="row">
				<div class="btn-group right" role="group" aria-label="...">
					{% if show_creditmemo %}
						<input type="submit" name="creditmemo" value='Credit Memo / Envoi mail' class="btn btn-success btn-lg right"/>
					{% endif %}
				</div>
			</div>
		{{ form_end(form) }}
	{% endfor %}
	{% for merchant_id, merchant_part in order %}
		<h2>{{merchant_part.merchant.name}}</h2>
		<div class="row flex-input">
			<div class="ticket-container">
				<div id='{{merchant_id}}-ticket-img' class='merchant-ticket col-md-4' value='{{merchant_part.merchant.ticket}}'></div>
			</div>
			<div class="col-md-8">
				<table id='{{merchant_id}}' class='merchant table'>
					<thead>
						<tr>
							<th>Produit</th>
							<th>Description</th>
							<th>Quantité</th>
							<th>Prix Unitaire</th>
							<th>Total Commande</th>
							<th>Total Client</th>
							<th>Différence Client</th>
							<th>Total Commercant</th>
							<th>Différence Commercant</th>
							<th>Commentaire</th>
						</tr>
					</thead>
					{% for product_id, product in merchant_part.products %}
						<tr>
							<td>{{product.nom}}</td>
							<td>{{product.description}}</td>
							<td>{{product.quantite}}</td>
							<td>{{product.prix_kilo}}</td>
							<td>
								<span>{{product.prix_total}}</span>
							</td>
							<td>
								<span>{{product.refund_prix | round(2,'floor')}}</span>
							</td>
							<td>
								<p>{{product.refund_diff | round(2,'floor')}}</p>
							</td>
							<td>
								<span>{{product.refund_prix_commercant | round(2, 'floor')}}</span>
							</td>
							<td>
								<p>{{product.refund_diff_commercant | round(2,'floor')}}</p>
							</td>
							<td>
								<span>{{product.refund_comment}}</span>
							</td>
						</tr>
					{% endfor %}
					<tfoot>
						<tr>
							<td colspan='4'>TOTAL</td>
							<td><p>{{merchant_part.merchant.total}}</p></td>
							<td><p>{{merchant_part.merchant.refund_total}}</p></td>
							<td><p>{{merchant_part.merchant.refund_diff}}</p></td>
							<td><p>{{merchant_part.merchant.refund_total_commercant}}</p></td>
							<td><p>{{merchant_part.merchant.refund_diff_commercant}}</p></td>
							<td></td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	{% endfor %}
</div>
{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}

{% block javascript_refund %}
	<script type="text/javascript" src="{{ path('root') }}js/input-compute.js"></script>
	<script type="text/javascript" src="{{ path('root') }}js/openseadragon.min.js"></script>
	<script type="text/javascript" src="{{ path('root') }}js/digest-gallery.js"></script>
	<script type="text/javascript" src="{{ path('root') }}js/input-ticket.js"></script>
	<script type="text/javascript" src="{{ path('root') }}js/jquery-scrolltofixed-min.js"></script>
	<script type="text/javascript" src="{{ path('root') }}js/mistral-delivery.js"></script>
	
	<!-- ScrollToFixed for refund input tickets : refund/input.twig -->
	<script type="text/javascript">
		$(document).ready(function() {
			var summaries = $('.ticket-container');
			summaries.each(function(i) {
				var summary = $(summaries[i]);
				var next = summaries[i + 1];
					summary.scrollToFixed({
					limit: function() {
						var limit = 0;
						if (next) {
							limit = $(next).offset().top - $(this).outerHeight(true) - 40;
						}
						return limit;
						},
						zIndex: 9999
					});
				});
			});
	</script>
	
	<script type="text/javascript">

		var picks = document.getElementsByClassName("pick");
		var ships = document.getElementsByClassName("ship");

		[].forEach.call(picks, function(picking) {
			picking.onclick = function() {
				alert(picking.parentElement.children["real-hour-pick"].innerHTML + "\n\n" + picking.parentElement.children["slot-hour-pick"].innerHTML);
			}
		});

		[].forEach.call(ships, function(shipping) {
			shipping.onclick = function() {
				alert(shipping.parentElement.children["real-hour-ship"].innerHTML + "\n\n" + shipping.parentElement.children["slot-hour-ship"].innerHTML);
			}
		});

	</script>

{% endblock %}
