{% extends 'ApdcApdcBundle::base.html.twig' %}

{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
<div class ="container">
	<div class="row">
		<div class="col-sm-2">
			<a href="{{ path('refundDigest', {id:id}) }}" class="btn btn-default"><< Retour</a>
		</div>
		<div class="progress col-sm-8">
			<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
		    	<span>Adyen</span>
			</div>
		</div>
		<div class="col-sm-2">
			<a href="{{ path('refundIndex') }}" class="btn btn-default right">Index</a>
		</div>
	</div>
	<div class="row">
		<div class="row">
			<div class="col-sm-12">
				<h1>#{{id}}<small> Refund via Adyen</small></h1>
			</div>
		</div>
		{{ form_start(form)}}
		{% for order_id, fields in orders %}
			{% if fields.merchant_reference == id %}
				<h4>Reference PSP : </h4>
					{{ form_widget(form.originalReference, {'attr': {'value': fields.pspreference} }) }}
				<hr>
				<h4>Montant à rembourser :</h4>
				<h4> {{ "Vous ne pouvez pas rembourser plus de : " ~ refund_diff ~ " € " }}</h4>
					{{ form_widget(form.value, {'attr': {'placeholder': refund_diff ~ ' € '} }) }}
				<hr>
				<h4> Montant déjà remboursé :</h4>
					{{ fields.total_refunded ~ " € "}}
				<hr>
			{% endif %}
		{% endfor %}

		{{form_errors(form)}}
		{{form_end(form)}}
	</div>
</div>

{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
