{% extends 'ApdcApdcBundle::base.html.twig' %}

{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
	{% include 'ApdcApdcBundle::forms/default.html.twig' %}

	<table class='table'>
		{% for order in orders %}
			<tr>
				<td>{{ order.id }}</td>
				<td>
					{% if order.upload == 'none' %}
						<a href='{{ path('refundUpload', {id: order.id}) }}' class='error'>upload</a>
					{% elseif order.upload == 'joker' %}
						<a href='{{ path('refundUpload', {id: order.id}) }}' class='warning'>upload</a>
					{% elseif order.upload == 'done' %}
						<a href='{{ path('refundUpload', {id: order.id}) }}' class='success'>upload</a>
					{% endif %}
				</td>
				<td>
					{% if order.upload != 'none' %}
						{% if order.input == 'none' %}
							<a href='{{ path('refundInput', {id: order.id}) }}' class='error'>input</a>
						{% elseif order.input == 'done' %}
							<a href='{{ path('refundInput', {id: order.id}) }}' class='success'>input</a>
						{% endif %}
					{% else %}
						input
					{% endif %}
				</td>
				<td>
					{% if order.input != 'none' %}
						{% if order.digest == 'none' %}
							<a href='{{ path('refundDigest', {id: order.id}) }}' class='error'>digest</a>
						{% elseif order.digest == 'done'%}
							<a href='{{ path('refundDigest', {id: order.id}) }}' class='success'>digest</a>
						{% endif %}
					{% else %}
						digest
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	<table>
{% endblock %}
