{% extends 'ApdcApdcBundle::base.html.twig' %}
{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
<div class="container">
	<div class="col-xs-2">
		<a href="{{ path('refundUpload', {id:id}) }}" class="btn btn-default"><< Retour</a>
	</div>
	<div class="progress col-xs-8">
		<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
	    	<span>Saisie Tickets</span>
		</div>
	</div>
	<div class="col-xs-2">
		<a href="{{ path('refundDigest', {id:id}) }}" class="btn btn-default right">Suivant >></a>
	</div>
	{{ form_start(form) }}
	<div class="row">
		<div class="col-sm-12">
			<h1>#{{id}}<small> Saisie des tickets</small></h1>
		</div>
	</div>
	<hr>
	<div>
		<h4>Rembourser les frais de livraison ? </h4>
		<label><input type="checkbox" value="">Oui</label>
	</div>
	<hr>
	<div class="row">
		{% for merchant_id, merchant_part in order %}
			<h2>{{merchant_part.merchant.name}}</h2>
			<div class='row'>
				<div id='{{merchant_id}}-ticket-img' class='merchant-ticket col-sm-4' style='width: 350px; height: 400px;' value='{{merchant_part.merchant.ticket}}'></div>
				<div class="col-sm-8">
					<table id='{{merchant_id}}' class='merchant table'>
						<thead>
							<tr>
								<th>Produit</th>
								<th>Description</th>
								<th>Quantité</th>
								<th>Prix Unitaire</th>
								<th>Total Commande</th>
								<th>Total Ticket</th>
								<th>Différence</th>
								<th>Commentaire</th>
							</tr>
						</thead>
						{% for product_id, product in merchant_part.products %}
							<tr>
								<td>{{product.nom}}</td>
								<td>{{product.description}}</br>{{product.comment}}</td>
								<td>{{product.quantite}}</td>
								<td>{{product.prix_kilo}}</td>
								<td>
									<span id='{{product_id}}-total'>{{product.prix_total }}</span>
								</td>
								<td>
									<input id='{{product_id}}-ticket-input' class='ticket-input' type='text' name='form[{{product_id}}][ticket]' value='{{product.refund_prix | round(2,'common')}}' />
								</td>
								<td>
									<p id='{{product_id}}-diff' class='diff'>{{product.refund_diff | round(2,'common')}}</p>
								</td>
								<td>
									<textarea class="noEnterSubmit" rows="1" cols="18" name="form[{{product_id}}][comment]"> {{product.refund_comment}}</textarea>
								</td>
							</tr>
						{% endfor %}
						<tr>
							<th colspan='4'>TOTAL</th>
							<td><p id='{{merchant_id}}-total'>{{merchant_part.merchant.total}}</p></td>
							<td><p id='{{merchant_id}}-ticket-total'></p></td>
							<td><p id='{{merchant_id}}-diff-total'></p></td>
							<td></td>
						</tr>
					</table>
				</div>
			</div>
		{% endfor %}
	<!--	<input type="hidden" name="_csrf_token"
					   value="{#{ csrf_token('authenticate') }#}">
	-->
	</div>
	<div class="row">
		<button type="submit" name="submit" value='submit' class="btn btn-success btn-lg right">Enregistrer</button>
	</div>

			{{ form_end(form) }}
</div>

{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}
