{% extends 'ApdcApdcBundle::base.html.twig' %}

{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}

{% set customer_name = "" %}
{% for merchant_id, data in order %}
	{% if merchant_id == -1 %}
		{% set customer_name = data.order.first_name ~ " " ~ data.order.last_name %}
	{% endif %}
{% endfor %}

<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<a href="{{ path('refundIndex') }}" type="submit" name="submit" value='previous' class="btn btn-default" id="previous_to_index"><< Retour</a>
		</div>
		<div class="progress col-xs-8">
			<div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
		    	<span>Upload</span>
			</div>
		</div>
		<div class="col-xs-2">
			<a href="{{ path('refundInput', {id:id}) }}" type="submit" name="submit" value='next' class="btn btn-default right" id="next_to_input">Suivant >></a>
		</div>
	</div>
	<div class="row">
		<div class="row">
			<div class="col-md-11"><h1>#{{ id ~ " / " ~ customer_name }}<small> Upload des tickets</small></h1></div>
			<div class="col-md-1">{% include 'ApdcApdcBundle::tool/mistral_delivery.html.twig' %}</div>
		</div>
			
		<hr/>

		<h3 style="display:inline-block">Upload via Mistral :</h3>
		<div style="display:inline-block">{{ form(mistral_form) }}</div>
		<hr/>

		<h3>Upload manuellement :</h3>
		{% include 'ApdcApdcBundle::forms/default.html.twig' %}
	</div>
</div>
{% include 'ApdcApdcBundle::menu/footer.html.twig' %}
{% endblock %}

{% block javascript_refund %}
	<script type="text/javascript" src="{{ path('root') }}js/input-compute.js"></script>
	<script type="text/javascript" src="{{ path('root') }}js/openseadragon.min.js"></script>
	<script type="text/javascript" src="{{ path('root') }}js/digest-gallery.js"></script>
	<script type="text/javascript" src="{{ path('root') }}js/input-ticket.js"></script>

	<script type="text/javascript">

		var successfull = document.getElementsByClassName("form-control success");

		[].forEach.call(successfull, function(success) {
			var label = success.previousSibling.innerHTML;
			success.onclick = function(event) {
				var result = confirm(" Une image a déjà été uploadée pour " + label + ". Ecraser ?");
				if (result == false) {
					event.preventDefault();
				}
			}
		});

	</script>

	<script type="text/javascript">
		
		var order_status = '{{ order[-1]['order']['status'] }}';
		if (order_status == "Complete") {
			document.getElementById("form_Mistral tickets upload").disabled = true;
			document.getElementById("form_Mistral tickets upload").title = "La commande a le statut 'Complete' ";
			document.getElementById("form_Upload").disabled = true;
			document.getElementById("form_Upload").title = "La commande a le statut 'Complete' ";
		}

	</script>


	<script type="text/javascript">

		var picks = document.getElementsByClassName("pick");
		var ships = document.getElementsByClassName("ship");

		[].forEach.call(picks, function(picking) {
			picking.onclick = function() {
				alert(picking.parentElement.children["real-hour-pick"].innerHTML + "\n\n" + picking.parentElement.children["slot-hour-pick"].innerHTML);
			}
		});

		[].forEach.call(ships, function(shipping) {
			shipping.onclick = function() {
				alert(shipping.parentElement.children["real-hour-ship"].innerHTML + "\n\n" + shipping.parentElement.children["slot-hour-ship"].innerHTML);
			}
		});

	</script>
{% endblock %}
