{% extends 'ApdcApdcBundle::base.html.twig' %}

{% use 'ApdcApdcBundle::menu/default.html.twig' %}

{% block body %}
	
	{% if comparaisonCustomers == true %}
	<div>
		{{ form_start(form_new_customers) }}
		{{ form_widget(form_new_customers) }}
		<input type="submit" id="buttonMap" value="Mettre à jour les clients" class="btn btn-primary"/>
		{{ form_end(form_new_customers) }}
	</div>
	{% endif %}

	<div id="mapCustomer" class="map"></div>
{% endblock %}

{% block css_mapCustomers %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ path ('root') }}css/map/leaflet.awesome-markers.css" type="text/css" />
	<link rel="stylesheet" href="{{ path ('root') }}css/map/jquery-ui-1.10.0.custom.css" type="text/css" />
	<link rel="stylesheet" href="{{ path ('root') }}css/map/leaflet-routing-machine.css" type="text/css" />
	<link rel="stylesheet" href="{{ path ('root') }}css/map/MarkerCluster.css" type="text/css" />
	<link rel="stylesheet" href="{{ path ('root') }}css/map/MarkerCluster.Default.css" type="text/css" />
	<link rel="stylesheet" href="{{ path ('root') }}css/map/leaflet-search.css" type="text/css" />
	<link rel="stylesheet" href="{{ path ('root') }}css/map/leaflet-search.mobile.css" type="text/css" />
{% endblock %}
{% block javascript_mapCustomers %}
	<script type="text/javascript">	
		var google_key= '{{ google_key }}';
		var json_data_for_customers = {{ json_data_for_customers|raw }};
	</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
	<script type="text/javascript" src="{{ path ('root') }}js/map/jquery-ui-1.10.4.min.js"></script>
	<script type="text/javascript" src="{{ path ('root') }}js/map/underscore.js"></script>	
	<script type="text/javascript" src="{{ path ('root') }}js/map/leaflet.awesome-markers.js"></script>	
	<script type="text/javascript" src="{{ path ('root') }}js/map/leaflet-routing-machine.js"></script>	
	<script type="text/javascript" src="{{ path ('root') }}js/map/Control.Geocoder.js"></script>	
	<script type="text/javascript" src="{{ path ('root') }}js/map/leaflet.markercluster-src.js"></script>
	<script type="text/javascript" src={{ url_google_maps }}></script>
	<script type="text/javascript" src="{{ path ('root') }}js/map/leaflet-search.js"></script>
	<script type="text/javascript" src="{{ path ('root') }}js/map/clients.js"></script>	
{% endblock %}
