{% extends 'base.html.twig' %}
{% use '/menu/default.html.twig' %}

{% block body %}

<div class="container">
	{{dump(order)}}
	{% for merchant_id in order %}
	{{ total }}
	<div id="{{ merchant_id }}" class="order">
		<table class="table table-striped">
			{% for product in merchant_id.products %}
			{{dump(product)}}
			{% endfor %}

			{#	<tr>
				<th>Nom</th>
				<th>Quantite</th>
				<th>Description</th>
				<th>Prix</th>
				<th>Total</th>
			</tr>
			#}
			{#{% for product in order.products %}
			<tr>
				<td>{{ product.nom }}</td>
				<td>{{ product.quantite }}</td>
				<td>{{ product.description }}</td>
				<td>{{ product.prix_unitaire ~" € (" ~ product.prix_kilo ~")"}}</td>
				<td>{{ product.prix_total }}</td>
			</tr>
			{% endfor %}
			#}
			{#	<tr>
				<td><b>TOTAL</b></td>
				<td colspan="3"><b>{{ order.total_quantite }}</b></td>
				<td colspan="2"><b>{{ order.total_prix }}</b></td>
			</tr> #}
		</table>
	</div>
	{% endfor %}
</div>
{% endblock %}
