{% extends 'base.html.twig' %}
{% use '/menu/default.html.twig' %}

{% block body %}
<h1> Recapitulatif </h1>
<hr>
<div class="container">
	<table class="table table-striped">
		<tr>
			<th>Commercant</th>
			<th>Produit</th>
			<th>Description</th>
			<th>Quantite</th>
			<th>Prix</th>
			<th>Total</th>
		</tr>
		{% for merchant_id in order %}
		{% for product in merchant_id.products %}
		<tr>
			<td>{{ merchant_id.merchant.name }}</td>
			<td>{{ product.nom }}</td>
			<td>{{ product.description }}</td>
			<td>{{ product.quantite }}</td>
			<td>{{ product.prix_unitaire ~" € (" ~ product.prix_kilo ~")"}}</td>
			<td>{{ product.prix_total }}</td>
		</tr>
		{% endfor %}
		{% endfor %}
		<tr>
			<td><b>TOTAL</b></td>
			<td colspan="4"><b></b></td>
			<td><b>{{ total}}</b></td>
		</tr>
	</table>
</div>
{% endblock %}
