{% extends 'base.html.twig' %}
{% use '/menu/default.html.twig' %}

{% block body %}
	{% include 'forms/default.html.twig' %}
<div class="container">
	<hr>
	<h1> Shipping All </h1>

	{% for store, merchants in stores %}
		<table style="width: 100%">
			<tr>
				<td>
					<div id="{{ store }}" class="store collapse">
						{% for com_id, merchant in merchants %}

								<label> {{ merchant.first_name }}</label><br/>
									{% for order_id, order in merchant.orders %}
										
									
									<table class="table">
											<tr>
												<td><b>Commande N°</b></td>
												<td>{{ order_id}}</td>
											</tr>
											<tr>
												<td><b>Client</b></td>
												<td>{{ order.first_name ~" "~order.last_name }}</td>
											</tr>
											<tr>
												<td><b>Creneau </b></td>
												<td>{{ order.delivery_time }}</td>
											</tr>
											<tr>
												<td><b>Adresse </b></td>
												<td><a href="https://www.google.com/maps?q={{ order.address }}" target="_blanc">{{ order.address }}</a></td>
											</tr>
											<tr>
												<td><b>Phone </b></td>
												<td>{{ order.phone }}</td>
											</tr>
											<tr>
												<td><b>Contact</b></td>
												<td>{{ order.contact }} <a href=" tel: ~{{ order.contact_phone}}"></a></td>
											</tr>
											<tr>
												<td><b>Info</b></td>
												<td>{{ order.info }}</td>
											</tr>
										</table>
									{% endfor %}
								{% endfor %}
							</div>
						</td>
					</tr>
				</table>
			{% endfor %}
		</div>
{% endblock %}
